<div class="section">
  <%#= form_with scope: :question, url: questions_path, local: true do |f| %>
  
  <%= form_with model: @question, local: true do |f| %>
   
    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@question.errors.count, "error") %> prohibited
          this question from being saved:
        </h2>
        <ul>
          <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <div class="control">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.label :content %><br>
        <%= f.text_area :content %>
      </div>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit 'Create new question', class: "button is-primary" %>
  <% end %>
</div>