<p>
  <strong>Commenter:</strong>
  <%= comment.user.first_name %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<%= render comment.replies if comment.replies.any? %>

<p><%= link_to 'reply', new_comment_reply_path(comment.id) %></p>
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
